<% provide(:title, 'About Us') %>

<h1>О нас</h1>
<p>Мы команда молодых программистов, которая занимается реализацией интересных проектов :)</p>
<%= image_tag('vmeste.jpg', height: '200') %>
<p>Если Вы хотите создать свой собственный сайт, мы будем рады Вам в этом помочь.</p>
<p>Ваши предложения можете присылать на почту <%= mail_to 'traf333@rambler.ru' %></p>

