<% provide(:title, 'Help') %>

<h1>Помощь</h1>
<p>По всем возникшим вопросам и предложениям Вы можете обращаться в службу поддержки, написав письмо по адресу <%= mail_to 'iradilema@gmail.com' %></p>

