<% provide(:title, 'Home') %>

<h1>Добро пожаловать на сайт <%= link_to 'TwitterOk', static_pages_home_path %></h1>
<p>Этот сайт предназначен для создания, обмена и чтения микросообщений.</p>
<p>Теперь у Вас появилась уникальная возможность общаться со своими друзьями не выходя из дома.</p>

